.footer-container{
    text-align: center;
    background-color: var(--intermidColor);
    height: 5rem;
    padding:  1%;
    font-size: small;
    margin-top: auto;
}
.footer-r1{
    margin: 1% auto;
    height: 50%;
}
.footer-r2{
    margin: 1% auto;
    height: 50%;
}
.footer-tags{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 1%;
   
}
.footer-tags:hover{
    color: var(--darkColor);
}
.footer-tag-sep{
   border: 1px solid black;
}